/* Variables globales y estilos básicos */
:root {
  --primary: #F1202F;
  --secondary: #990624;
  --accent: #8522E2;
  --dark: #42176C;
  --black: #000000;
  --white: #fff;
  --gray: #7a7a7a;
  --darkgray: #262626;
  --lightgray: #a4a4a4;
  --montserrat: "Montserrat", sans-serif;
  --poppins: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: var(--poppins);
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
}

/* Botón para subir al inicio */
.to-top {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 8px;
  border: 2px solid var(--primary);
  border-radius: 50%;
  fill: var(--primary);
  transform: scale(0);
  z-index: 99;
  transition: all 0.2s linear;
}

.to-top:hover {
  background-color: var(--primary);
  fill: var(--white);
  transition: all 0.2s linear;
}

.to-top.active {
  transform: scale(1);
  transition: all 0.2s linear;
}

/* Animaciones globales */
@keyframes lineAnimationFromTop {
  0% {
    top: 0;
  }
  50% {
    top: 110%;
  }
  100% {
    top: 0;
  }
}

@keyframes lineAnimationFromBottom {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 110%;
  }
  100% {
    bottom: 0;
  }
}

@keyframes fade-up-light {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes inputShadow {
  to {
    box-shadow: 0 4px 15px -4px var(--accent);
  }
}

/* Media queries para container y elementos comunes */
@media (min-width: 450px) {
  .container {
    max-width: 450px;
  }
}

@media (min-width: 610px) {
  .container {
    max-width: 610px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 30px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1400px;
    padding: 0 40px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1400px;
    padding: 0 50px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1500px;
    padding: 0 60px;
  }
}