---
---
<section class="about" id="about">
  <div class="container">
    <div class="content">
      <div
        class="title"
        data-aos="fade-down"
        data-aos-duration="1000"
        data-aos-delay="200"
      >
        <h1>¿Qué es HARKAI?</h1>
        <div class="light-1"></div>
        <div class="light-2"></div>
      </div>

      <div class="row">
        <div
          class="box"
          data-aos="fade-right"
          data-aos-duration="1000"
          data-aos-delay="400"
        >
          <div class="box-light"></div>
          <h2><span>Sistema integral</span> de supervisión</h2>
          <p>
            HARK-AI es un sistema integral de supervisión del uso correcto de EPPs (Equipos de Protección Personal) para la Seguridad industrial con la implementación de inteligencia artificial (IA). Este sistema utiliza cámaras inteligentes para monitorear el uso adecuado de los equipos de protección personal por parte de los trabajadores.
          </p>
          <button><span>Conoce más</span></button>
        </div>

        <div
          class="light-area"
          data-aos="zoom-in"
          data-aos-duration="1000"
          data-aos-delay="600"
        >
          <div class="light-1"></div>
          <div class="light-2"></div>
        </div>

        <div
          class="box"
          data-aos="fade-left"
          data-aos-duration="1000"
          data-aos-delay="400"
        >
          <div class="box-light"></div>
          <h2><span>Detección</span> y notificación</h2>
          <p>
            Si se detecta un mal uso de EPP, se generará una alerta con el fin de que el operario se dé cuenta de su falta y realice la corrección. En caso contrario, se notificará al supervisor y se creará un informe consolidado para su registro.
          </p>
          <button><span>Solicitar Demo</span></button>
        </div>
      </div>
    </div>
  </div>
</section>