---
---
<section class="join" id="contact">
  <div class="container">
    <div class="content">
      <div class="wrapper" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
        <div class="light-1"></div>
        <div class="light-2"></div>
        <div class="wrapper-content">
          <div class="logo">
            <img src="/assets/logo.png" alt="logo">
          </div>
          
          <div class="text">
            <h1>¿Necesitas más información? ¡Contáctanos!</h1>
            <p>Ofrecemos soluciones personalizadas para tu empresa y paquetes a medida que se adaptan a tus necesidades.</p>
            <form class="contact-form">
              <div class="form-row">
                <div class="form-group">
                  <input type="text" placeholder="Nombre de la Compañía" required>
                </div>
                <div class="form-group">
                  <input type="text" placeholder="Nombre completo" required>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group">
                  <input type="text" placeholder="Posición en la Compañía">
                </div>
                <div class="form-group">
                  <input type="tel" placeholder="Número telefónico" required>
                </div>
              </div>
              <div class="form-group">
                <input type="email" placeholder="Correo Electrónico" required>
              </div>
              <div class="form-group">
                <textarea placeholder="Escribe tu mensaje aquí" rows="4" required></textarea>
              </div>
              <button type="submit"><span>Enviar mensaje</span></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>