---
---
<section class="distinguishes">
  <div class="container">
    <div class="content">
      <div class="title" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
        <h1>¿Qué nos <span>distingue?</span></h1>
      </div>

      <div class="row">
        <div class="card" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="200">
          <div class="image">
          </div>
          <h1>Detección <span>Proactiva</span></h1>
          <p>No solo se limita a la detección pasiva, sino que actúa de forma proactiva, emitiendo alarmas instantáneas ante cualquier incidente potencial.</p>
        </div>

        <div class="card" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
          <div class="image">
          </div>
          <h1>Adaptabilidad <span>al Entorno</span></h1>
          <p>Su capacidad de adaptación a diferentes escenarios y condiciones del entorno laboral, junto con un aprendizaje continuo, lo convierte en una solución robusta.</p>
        </div>

        <div class="card" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="200">
          <div class="image">
          </div>
          <h1>Alianza <span>Estratégica</span></h1>
          <p>Trabajamos en alianza con Consultoría Carranza para ofrecerte una solución integral que combina tecnología avanzada con experiencia en seguridad industrial.</p>
        </div>
      </div>
    </div>
  </div>
</section>