---
// Importar estilos específicos para este componente
import '../styles/components/features.css';
---

<section class="grid" id="features">
  <div class="container">
    <div class="content">
      <div
        class="title"
        data-aos="fade-down"
        data-aos-duration="1000"
        data-aos-delay="200"
      >
        <h1>
          Funciones Principales de HARKAI
        </h1>
        <div class="light-1"></div>
        <div class="light-2"></div>
      </div>

      <div class="grid-container">
        <div
          class="box box-1"
          data-aos="fade-right"
          data-aos-duration="1000"
          data-aos-delay="200"
        >
          <h1><span>Detección de</span> Equipos de Protección</h1>
          <p>
            Supervisamos el uso adecuado de los equipos de protección personal (EPP), emitiendo alertas inmediatas en caso de detectar un uso incorrecto. Nuestro sistema es flexible y puede adaptarse a los distintos tipos de equipos que la empresa utilice.
          </p>
        </div>
        <div
          class="box box-2"
          data-aos="fade-down"
          data-aos-duration="1000"
          data-aos-delay="400"
        >
          <h1><span>Reconocimiento de</span> Situaciones Inseguras</h1>
          <p>
            Detectamos comportamientos inseguros que podrían derivar en incidentes, con el objetivo de prevenir riesgos y proteger la salud del personal. El sistema se adapta a distintas situaciones como el ingreso a zonas protegidas y movimientos riesgosos.
          </p>
          <div class="light"></div>

        </div>
        <div
          class="box box-3"
          data-aos="fade-left"
          data-aos-duration="1000"
          data-aos-delay="600"
        >
          <h1><span>Alerta y Corrección</span> en Tiempo Real</h1>
          <p>
            Implementamos alertas para corregir faltas de seguridad: un indicador se activa durante 15 segundos, permitiendo correcciones. Además, nuestra plataforma actualiza incidentes rápidamente para asegurar el cumplimiento de los protocolos.
          </p>
        </div>
        <div
          class="box box-4"
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-delay="400"
        >
          <h1><span>Monitoreo</span> Personalizado</h1>
          <p>
            Nos adaptamos a las necesidades específicas de cada cliente, ofreciendo soluciones integrales que van más allá de la seguridad laboral. Nuestro sistema puede extenderse a áreas como la prevención de robos, la medición de productividad y la optimización de procesos.
          </p>
        </div>
        <div
          class="box box-5"
          data-aos="fade-up-left"
          data-aos-duration="1000"
          data-aos-delay="600"
        >
          <h1><span>Inteligencia</span> Artificial Avanzada</h1>
          <p>
            Nuestro sistema está basado en un robusto modelo de red neuronal entrenado específicamente para identificar los Equipos de Protección Personal (EPPs) en personas, con más de 10,000 imágenes para garantizar detección precisa y confiable.
          </p>
        </div>
        <div
          class="box-6"
          data-aos="fade-up-right"
          data-aos-duration="1000"
          data-aos-delay="200"
        >
          <button><span>Más Sobre HARKAI</span></button>
        </div>
      </div>
    </div>
  </div>
</section>