---
// Importar estilos específicos para este componente
import '../styles/components/footer.css';
---

<footer data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
  <div class="container">
    <div class="content">
        <div class="col-1">
          <div class="logo">
            <img src="/assets/logo.png" alt="logo">
            <a href=""><span class="logo-hark">HARK</span><span class="logo-ai">AI</span></a>
          </div>

          <p>&copy; 2025 HarkAI. Todos los derechos reservados.</p>

          <div class="contact-info">
            <p>Email: informes@consultoriacarranza.com.pe</p>
            <p>Teléfonos: +51 994 615 074 / +51 990 022 298</p>
            <p>Web: www.consultoriacarranza.com.pe/HarkAI</p>
          </div>

          <div class="social">
            <a href="#"><i class="bx bxl-linkedin-square"></i></a>
            <a href="#"><i class="bx bxl-instagram"></i></a>
          </div>
        </div>

        <div class="col-right">
          <div class="col-2">
            <p>Servicios</p>
            <a href="#">Detección de EPP</a>
            <a href="#">Reconocimiento de Situaciones</a>
            <a href="#">Monitoreo Personalizado</a>
          </div>
          
          <div class="col-3">
            <p>Soluciones</p>
            <a href="#">Industria</a>
            <a href="#">Construcción</a>
            <a href="#">Minería</a>
          </div>
          
          <div class="col-4">
            <p>Recursos</p>
            <a href="#">Documentación</a>
            <a href="#">Soporte</a>
            <a href="#">Blog</a>
          </div>
        </div>
    </div>
    <div class="partnership">
      <p>Una alianza estratégica con</p>
      <p style="font-weight: bold; color: white;">Consultoría Carranza</p>
    </div>
  </div>
</footer>