---
// Importar estilos específicos para este componente
import '../styles/components/header.css';
---

<header data-aos="fade-down" data-aos-duration="1000" data-aos-delay="200">
  <div class="container">
    <div class="content">
      <div
        data-aos="fade-down-right"
        data-aos-duration="1000"
        data-aos-delay="300"
        class="logo"
      >
        <img src="/assets/logo.png" alt="logo" />
        <a href=""><span class="logo-hark">HARK</span><span class="logo-ai">AI</span></a>
      </div>

      <nav>
        <a href="#about">¿Qué es?</a>
        <a href="#features">Funciones</a>
        <a href="#how">¿Cómo funciona?</a>
        <a href="#tech">Tecnología</a>
        <a href="#platforms">Plataformas</a>
        <a href="#contact">Contacto</a>
      </nav>

      <div class="extra-nav">
        <button
          data-aos="fade-down-left"
          data-aos-duration="1000"
          data-aos-delay="400"
          class="demo-button"
        >
          DEMOSTRACIÓN
        </button>

        <button class="btn-menu" id="btn-menu">
          <i class="bx bx-menu-alt-right icon"></i>
        </button>
      </div>

      <div class="mobile-nav">
        <button class="close-mobile-nav">
          <i class="bx bx-x icon"></i>
        </button>
        <div class="nav">
          <a href="#about">¿Qué es?</a>
          <a href="#features">Funciones</a>
          <a href="#how">¿Cómo funciona?</a>
          <a href="#tech">Tecnología</a>
          <a href="#platforms">Plataformas</a>
          <a href="#contact">Contacto</a>
          <button>Demostración</button>
        </div>
      </div>
    </div>
  </div>
</header>

<a href="#" class="to-top"><i class="bx bx-chevron-up"></i></a>