---
// Importar estilos específicos para este componente
import '../styles/components/hero.css';
---

<section class="hero">
  <div class="container">
    <div class="content">
      <div class="background-line">
        <div
          class="line-1"
          data-aos="fade-down"
          data-aos-duration="1000"
          data-aos-delay="200"
        ></div>
        <div
          class="line-2"
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-delay="400"
        ></div>
        <div
          class="line-3"
          data-aos="fade-down"
          data-aos-duration="1000"
          data-aos-delay="600"
        ></div>
        <div
          class="line-4"
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-delay="400"
        ></div>
        <div
          class="line-5"
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-delay="200"
        ></div>
      </div>

      <div class="main">
        <h2
          data-aos="fade-down"
          data-aos-duration="1000"
          data-aos-delay="400"
        >
          SEGURIDAD INTELIGENTE PARA ENTORNOS INDUSTRIALES
        </h2>
        <h1
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-delay="200"
        >
          Seguridad Laboral
        </h1>
        <h1 class="highlight"
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-delay="250"
        >
          Potenciada por IA
        </h1>
        <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
          Harkai, tu aliado inteligente para un futuro mejor. Sistema integral de supervisión del uso correcto de EPPs con Inteligencia Artificial.
        </p>
        <div
          class="hero-form"
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-delay="600"
        >
          <input type="email" placeholder="Ingresa tu correo..." />
          <button>Solicitar Demo</button>
        </div>
      </div>

      <div class="light"></div>
    </div>
  </div>
</section>