---
---
<section class="technology" id="tech">
  <div class="container">
    <div class="content">
      <div
        class="title"
        data-aos="fade-down"
        data-aos-duration="1000"
        data-aos-delay="200"
      >
        <h1>Nuestra Tecnología</h1>
        <div class="light-1"></div>
        <div class="light-2"></div>
      </div>
      
      <div class="tech-grid">
        <div class="tech-card" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
          <h3>Uso de Cámaras Inteligentes</h3>
          <p>Este sistema emplea cámaras inteligentes con visión por computadora para monitorear a los trabajadores durante su jornada laboral en sus áreas de trabajo. Son de grado industrial, resistentes a polvo, humedad y altas temperaturas.</p>
        </div>
        <div class="tech-card" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
          <h3>Detección en Tiempo Real</h3>
          <p>Implementamos alertas para corregir faltas de seguridad. Un indicador activa durante 15 segundos, permitiendo correcciones. Los reportes se generan con evidencia visual. Nuestra plataforma actualiza incidentes en tiempo real, garantizando cumplimiento de protocolos.</p>
        </div>
        <div class="tech-card" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
          <h3>Plataformas Digitales</h3>
          <p>Se cuenta con dos plataformas de supervisión que permite gestionar los incidentes con imágenes, resúmenes semanales, reportes descargables y dar soporte técnico. Entre ellas se encuentran una página web y un app móvil.</p>
        </div>
        <div class="tech-card" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
          <h3>Inteligencia Artificial</h3>
          <p>Nuestro sistema está basado en un robusto modelo de red neuronal entrenado específicamente para identificar los Equipos de Protección Personal (EPPs) en personas. Con un conjunto de datos de más de 10,000 imágenes etiquetadas, nuestro modelo ha sido perfeccionado para reconocer con precisión los distintos elementos de protección.</p>
        </div>
      </div>
    </div>
  </div>
</section>